TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceTrazabilidad/ServiceTrazabilidad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50703/ServiceTrazabilidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
  <xs:element name="ListarTrazabilidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="ListarTrazabilidadResult" nillable="true" type="q1:ArrayOfTrazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTrazabilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="tra" nillable="true" type="q2:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrazabilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="tra" nillable="true" type="q3:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazabilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrazabilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrazabilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="BuscarTrazabilidadResult" nillable="true" type="q4:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>