TransportadoraMVC/TransportadoraMVC/Connected Services/MonedaReference/MonedaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Moneda" nillable="true" type="tns:Moneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoneda" nillable="true" type="tns:ArrayOfMoneda" />
  <xs:complexType name="Moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Moneda" nillable="true" type="tns:Moneda" />
</xs:schema>