TransportadoraMVC/TransportadoraMVC/Connected Services/MonedaReference/MonedaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonedaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/MonedaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/MonedaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/MonedaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonedaService_ListarMonedas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMonedas" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_ListarMonedas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMonedasResponse" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_BuscarMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMoneda" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_BuscarMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_AgregarMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarMoneda" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_AgregarMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_EditarMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarMoneda" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_EditarMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_EliminarMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMoneda" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_EliminarMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_Confirmacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirmacion" />
  </wsdl:message>
  <wsdl:message name="IMonedaService_Confirmacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonedaService">
    <wsdl:operation name="ListarMonedas">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonedaService/ListarMonedas" message="tns:IMonedaService_ListarMonedas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonedaService/ListarMonedasResponse" message="tns:IMonedaService_ListarMonedas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonedaService/BuscarMoneda" message="tns:IMonedaService_BuscarMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonedaService/BuscarMonedaResponse" message="tns:IMonedaService_BuscarMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonedaService/AgregarMoneda" message="tns:IMonedaService_AgregarMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonedaService/AgregarMonedaResponse" message="tns:IMonedaService_AgregarMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonedaService/EditarMoneda" message="tns:IMonedaService_EditarMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonedaService/EditarMonedaResponse" message="tns:IMonedaService_EditarMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonedaService/EliminarMoneda" message="tns:IMonedaService_EliminarMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonedaService/EliminarMonedaResponse" message="tns:IMonedaService_EliminarMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirmacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonedaService/Confirmacion" message="tns:IMonedaService_Confirmacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonedaService/ConfirmacionResponse" message="tns:IMonedaService_Confirmacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonedaService" type="tns:IMonedaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarMonedas">
      <soap:operation soapAction="http://tempuri.org/IMonedaService/ListarMonedas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMoneda">
      <soap:operation soapAction="http://tempuri.org/IMonedaService/BuscarMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarMoneda">
      <soap:operation soapAction="http://tempuri.org/IMonedaService/AgregarMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarMoneda">
      <soap:operation soapAction="http://tempuri.org/IMonedaService/EditarMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMoneda">
      <soap:operation soapAction="http://tempuri.org/IMonedaService/EliminarMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirmacion">
      <soap:operation soapAction="http://tempuri.org/IMonedaService/Confirmacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonedaService">
    <wsdl:port name="BasicHttpBinding_IMonedaService" binding="tns:BasicHttpBinding_IMonedaService">
      <soap:address location="http://proyecto-final-angela.azurewebsites.net/MonedaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>