TransportadoraMVC/TransportadoraMVC/Connected Services/MonedaReference/ServicioMoneda.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50703/ServicioMoneda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
  <xs:element name="ListarMoneda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="ListarMonedaResult" nillable="true" type="q1:ArrayOfMoneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="mon" nillable="true" type="q2:Moneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMonedaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="mon" nillable="true" type="q3:Moneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMonedaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMonedaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="BuscarMonedaResult" nillable="true" type="q4:Moneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>