TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceUsuario/ServiceUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50703/ServiceUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUsuario_ListarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_ListarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_CambiarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPassword" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_CambiarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUsuario">
    <wsdl:operation name="ListarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/ListarUsuario" message="tns:IServiceUsuario_ListarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/ListarUsuarioResponse" message="tns:IServiceUsuario_ListarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/AgregarUsuario" message="tns:IServiceUsuario_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/AgregarUsuarioResponse" message="tns:IServiceUsuario_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/EditarUsuario" message="tns:IServiceUsuario_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/EditarUsuarioResponse" message="tns:IServiceUsuario_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/EliminarUsuario" message="tns:IServiceUsuario_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/EliminarUsuarioResponse" message="tns:IServiceUsuario_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/BuscarUsuario" message="tns:IServiceUsuario_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/BuscarUsuarioResponse" message="tns:IServiceUsuario_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/ValidarUsuario" message="tns:IServiceUsuario_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/ValidarUsuarioResponse" message="tns:IServiceUsuario_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/CambiarPassword" message="tns:IServiceUsuario_CambiarPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/CambiarPasswordResponse" message="tns:IServiceUsuario_CambiarPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUsuario" type="tns:IServiceUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/CambiarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUsuario">
    <wsdl:port name="BasicHttpBinding_IServiceUsuario" binding="tns:BasicHttpBinding_IServiceUsuario">
      <soap:address location="http://localhost:50703/ServiceUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>