TransportadoraMVC/TransportadoraMVC/Connected Services/TrazabilidadReference/TrazabilidadService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/TrazabilidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="ListarResult" nillable="true" type="q1:ArrayOfTrazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTraza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTrazaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="BuscarTrazaResult" nillable="true" type="q2:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTraza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="traza" nillable="true" type="q3:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTrazaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTraza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="traza" nillable="true" type="q4:Trazabilidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrazaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTraza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Confirmacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>