TransportadoraMVC/TransportadoraMVC/Connected Services/TrazabilidadReference/TrazabilidadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrazabilidadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44345/TrazabilidadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44345/TrazabilidadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44345/TrazabilidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrazabilidadService_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_BuscarTraza_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTraza" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_BuscarTraza_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTrazaResponse" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_AgregarTraza_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTraza" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_AgregarTraza_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTrazaResponse" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_EditarTraza_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarTraza" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_EditarTraza_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarTrazaResponse" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_EliminarTraza_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTraza" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_EliminarTraza_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrazaResponse" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_Confirmacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirmacion" />
  </wsdl:message>
  <wsdl:message name="ITrazabilidadService_Confirmacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmacionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrazabilidadService">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrazabilidadService/Listar" message="tns:ITrazabilidadService_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrazabilidadService/ListarResponse" message="tns:ITrazabilidadService_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTraza">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrazabilidadService/BuscarTraza" message="tns:ITrazabilidadService_BuscarTraza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrazabilidadService/BuscarTrazaResponse" message="tns:ITrazabilidadService_BuscarTraza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarTraza">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrazabilidadService/AgregarTraza" message="tns:ITrazabilidadService_AgregarTraza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrazabilidadService/AgregarTrazaResponse" message="tns:ITrazabilidadService_AgregarTraza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarTraza">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrazabilidadService/EditarTraza" message="tns:ITrazabilidadService_EditarTraza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrazabilidadService/EditarTrazaResponse" message="tns:ITrazabilidadService_EditarTraza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTraza">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrazabilidadService/EliminarTraza" message="tns:ITrazabilidadService_EliminarTraza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrazabilidadService/EliminarTrazaResponse" message="tns:ITrazabilidadService_EliminarTraza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirmacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrazabilidadService/Confirmacion" message="tns:ITrazabilidadService_Confirmacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrazabilidadService/ConfirmacionResponse" message="tns:ITrazabilidadService_Confirmacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrazabilidadService" type="tns:ITrazabilidadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/ITrazabilidadService/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTraza">
      <soap:operation soapAction="http://tempuri.org/ITrazabilidadService/BuscarTraza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarTraza">
      <soap:operation soapAction="http://tempuri.org/ITrazabilidadService/AgregarTraza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarTraza">
      <soap:operation soapAction="http://tempuri.org/ITrazabilidadService/EditarTraza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTraza">
      <soap:operation soapAction="http://tempuri.org/ITrazabilidadService/EliminarTraza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirmacion">
      <soap:operation soapAction="http://tempuri.org/ITrazabilidadService/Confirmacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrazabilidadService">
    <wsdl:port name="BasicHttpBinding_ITrazabilidadService" binding="tns:BasicHttpBinding_ITrazabilidadService">
      <soap:address location="http://localhost:62768/TrazabilidadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>