TransportadoraMVC/TransportadoraMVC/Connected Services/TrazabilidadReference/TrazabilidadService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrazabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trazabilidad" nillable="true" type="tns:Trazabilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrazabilidad" nillable="true" type="tns:ArrayOfTrazabilidad" />
  <xs:complexType name="Trazabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiudadDesstino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CiudadOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Embarque" nillable="true" type="tns:Embarque" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IdEmbarque" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Kilos" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaisDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Teus" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoOperacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trazabilidad" nillable="true" type="tns:Trazabilidad" />
  <xs:complexType name="Embarque">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consignatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contenedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmbarqueAereo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmbarqueMaritimo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INCOTERM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrdenCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trazabilidad" nillable="true" type="tns:ArrayOfTrazabilidad" />
      <xs:element minOccurs="0" name="ZonaAduanera" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Embarque" nillable="true" type="tns:Embarque" />
</xs:schema>