TransportadoraMVC/TransportadoraMVC/Connected Services/ProcesoReference/ProcesoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcesoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/ProcesoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/ProcesoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://proyecto-final-angela.azurewebsites.net/ProcesoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcesoService_ListarProcesos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProcesos" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_ListarProcesos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProcesosResponse" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_BuscarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProceso" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_BuscarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_AgregarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProceso" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_AgregarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_EditarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarProceso" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_EditarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_Confirmacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirmacion" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_Confirmacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmacionResponse" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_EliminarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProceso" />
  </wsdl:message>
  <wsdl:message name="IProcesoService_EliminarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProcesoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcesoService">
    <wsdl:operation name="ListarProcesos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcesoService/ListarProcesos" message="tns:IProcesoService_ListarProcesos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcesoService/ListarProcesosResponse" message="tns:IProcesoService_ListarProcesos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcesoService/BuscarProceso" message="tns:IProcesoService_BuscarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcesoService/BuscarProcesoResponse" message="tns:IProcesoService_BuscarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcesoService/AgregarProceso" message="tns:IProcesoService_AgregarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcesoService/AgregarProcesoResponse" message="tns:IProcesoService_AgregarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcesoService/EditarProceso" message="tns:IProcesoService_EditarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcesoService/EditarProcesoResponse" message="tns:IProcesoService_EditarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirmacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcesoService/Confirmacion" message="tns:IProcesoService_Confirmacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcesoService/ConfirmacionResponse" message="tns:IProcesoService_Confirmacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcesoService/EliminarProceso" message="tns:IProcesoService_EliminarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcesoService/EliminarProcesoResponse" message="tns:IProcesoService_EliminarProceso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProcesoService" type="tns:IProcesoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProcesos">
      <soap:operation soapAction="http://tempuri.org/IProcesoService/ListarProcesos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProceso">
      <soap:operation soapAction="http://tempuri.org/IProcesoService/BuscarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProceso">
      <soap:operation soapAction="http://tempuri.org/IProcesoService/AgregarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarProceso">
      <soap:operation soapAction="http://tempuri.org/IProcesoService/EditarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirmacion">
      <soap:operation soapAction="http://tempuri.org/IProcesoService/Confirmacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProceso">
      <soap:operation soapAction="http://tempuri.org/IProcesoService/EliminarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcesoService">
    <wsdl:port name="BasicHttpBinding_IProcesoService" binding="tns:BasicHttpBinding_IProcesoService">
      <soap:address location="http://proyecto-final-angela.azurewebsites.net/ProcesoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>