TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceActividad/ServiceActividad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceActividad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50703/ServiceActividad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceActividad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceActividad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceActividad_ListarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarActividad" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_ListarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_AgregarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarActividad" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_AgregarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_EditarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarActividad" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_EditarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_EliminarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarActividad" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_EliminarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_BuscarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividad" />
  </wsdl:message>
  <wsdl:message name="IServiceActividad_BuscarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceActividad">
    <wsdl:operation name="ListarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActividad/ListarActividad" message="tns:IServiceActividad_ListarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActividad/ListarActividadResponse" message="tns:IServiceActividad_ListarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActividad/AgregarActividad" message="tns:IServiceActividad_AgregarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActividad/AgregarActividadResponse" message="tns:IServiceActividad_AgregarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActividad/EditarActividad" message="tns:IServiceActividad_EditarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActividad/EditarActividadResponse" message="tns:IServiceActividad_EditarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActividad/EliminarActividad" message="tns:IServiceActividad_EliminarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActividad/EliminarActividadResponse" message="tns:IServiceActividad_EliminarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceActividad/BuscarActividad" message="tns:IServiceActividad_BuscarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceActividad/BuscarActividadResponse" message="tns:IServiceActividad_BuscarActividad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceActividad" type="tns:IServiceActividad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarActividad">
      <soap:operation soapAction="http://tempuri.org/IServiceActividad/ListarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarActividad">
      <soap:operation soapAction="http://tempuri.org/IServiceActividad/AgregarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarActividad">
      <soap:operation soapAction="http://tempuri.org/IServiceActividad/EditarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <soap:operation soapAction="http://tempuri.org/IServiceActividad/EliminarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarActividad">
      <soap:operation soapAction="http://tempuri.org/IServiceActividad/BuscarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceActividad">
    <wsdl:port name="BasicHttpBinding_IServiceActividad" binding="tns:BasicHttpBinding_IServiceActividad">
      <soap:address location="http://localhost:50703/ServiceActividad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>