TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceEmbarque/ServiceEmbarque.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEmbarque" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50703/ServiceEmbarque.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceEmbarque.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceEmbarque.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEmbarque_ListarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_ListarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_AgregarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_AgregarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_EditarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_EditarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_EliminarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_EliminarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_BuscarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServiceEmbarque_BuscarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEmbarque">
    <wsdl:operation name="ListarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmbarque/ListarEmbarque" message="tns:IServiceEmbarque_ListarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmbarque/ListarEmbarqueResponse" message="tns:IServiceEmbarque_ListarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmbarque/AgregarEmbarque" message="tns:IServiceEmbarque_AgregarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmbarque/AgregarEmbarqueResponse" message="tns:IServiceEmbarque_AgregarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmbarque/EditarEmbarque" message="tns:IServiceEmbarque_EditarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmbarque/EditarEmbarqueResponse" message="tns:IServiceEmbarque_EditarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmbarque/EliminarEmbarque" message="tns:IServiceEmbarque_EliminarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmbarque/EliminarEmbarqueResponse" message="tns:IServiceEmbarque_EliminarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmbarque/BuscarEmbarque" message="tns:IServiceEmbarque_BuscarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmbarque/BuscarEmbarqueResponse" message="tns:IServiceEmbarque_BuscarEmbarque_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEmbarque" type="tns:IServiceEmbarque">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServiceEmbarque/ListarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServiceEmbarque/AgregarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServiceEmbarque/EditarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServiceEmbarque/EliminarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServiceEmbarque/BuscarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEmbarque">
    <wsdl:port name="BasicHttpBinding_IServiceEmbarque" binding="tns:BasicHttpBinding_IServiceEmbarque">
      <soap:address location="http://localhost:50703/ServiceEmbarque.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>