TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceEmbarque/ServiceEmbarque2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50703/ServiceEmbarque.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
  <xs:element name="ListarEmbarque">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="ListarEmbarqueResult" nillable="true" type="q1:ArrayOfEmbarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="emb" nillable="true" type="q2:Embarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="emb" nillable="true" type="q3:Embarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranspService.Modelos" minOccurs="0" name="BuscarEmbarqueResult" nillable="true" type="q4:Embarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>