TransportadoraMVC/TransportadoraMVC/Connected Services/EmbarqueReference/EmbarqueService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44345/EmbarqueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" />
  <xs:element name="ListarEmbarques">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmbarquesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="ListarEmbarquesResult" nillable="true" type="q1:ArrayOfEmbarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="BuscarEmbarqueResult" nillable="true" type="q2:Embarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="embarque" nillable="true" type="q3:Embarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TransportadoraService.Models" minOccurs="0" name="embarque" nillable="true" type="q4:Embarque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmbarque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmbarqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmbarque" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrazasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Confirmacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>