TransportadoraMVC/TransportadoraMVC/Connected Services/EmbarqueReference/ServicioEmbarque.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioEmbarque" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50703/ServicioEmbarque.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50703/ServicioEmbarque.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50703/ServicioEmbarque.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEmbarque_ListarEmbarques_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmbarques" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_ListarEmbarques_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmbarquesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_BuscarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_BuscarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_AgregarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_AgregarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_EditarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_EditarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_ConfirmarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_ConfirmarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_EliminarEmbarque_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmbarque" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_EliminarEmbarque_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmbarqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_EliminarTrazas_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrazas" />
  </wsdl:message>
  <wsdl:message name="IServicioEmbarque_EliminarTrazas_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrazasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEmbarque">
    <wsdl:operation name="ListarEmbarques">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/ListarEmbarques" message="tns:IServicioEmbarque_ListarEmbarques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/ListarEmbarquesResponse" message="tns:IServicioEmbarque_ListarEmbarques_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/BuscarEmbarque" message="tns:IServicioEmbarque_BuscarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/BuscarEmbarqueResponse" message="tns:IServicioEmbarque_BuscarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/AgregarEmbarque" message="tns:IServicioEmbarque_AgregarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/AgregarEmbarqueResponse" message="tns:IServicioEmbarque_AgregarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/EditarEmbarque" message="tns:IServicioEmbarque_EditarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/EditarEmbarqueResponse" message="tns:IServicioEmbarque_EditarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/ConfirmarEmbarque" message="tns:IServicioEmbarque_ConfirmarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/ConfirmarEmbarqueResponse" message="tns:IServicioEmbarque_ConfirmarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmbarque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/EliminarEmbarque" message="tns:IServicioEmbarque_EliminarEmbarque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/EliminarEmbarqueResponse" message="tns:IServicioEmbarque_EliminarEmbarque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTrazas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmbarque/EliminarTrazas" message="tns:IServicioEmbarque_EliminarTrazas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmbarque/EliminarTrazasResponse" message="tns:IServicioEmbarque_EliminarTrazas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEmbarque" type="tns:IServicioEmbarque">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarEmbarques">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/ListarEmbarques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/BuscarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/AgregarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/EditarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/ConfirmarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmbarque">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/EliminarEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTrazas">
      <soap:operation soapAction="http://tempuri.org/IServicioEmbarque/EliminarTrazas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEmbarque">
    <wsdl:port name="BasicHttpBinding_IServicioEmbarque" binding="tns:BasicHttpBinding_IServicioEmbarque">
      <soap:address location="http://localhost:50703/ServicioEmbarque.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>