TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceProceso/ServiceProceso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranspService.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proceso" nillable="true" type="tns:Proceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProceso" nillable="true" type="tns:ArrayOfProceso" />
  <xs:complexType name="Proceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actividad" nillable="true" type="tns:ArrayOfActividad" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proceso" nillable="true" type="tns:Proceso" />
  <xs:complexType name="ArrayOfActividad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actividad" nillable="true" type="tns:Actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActividad" nillable="true" type="tns:ArrayOfActividad" />
  <xs:complexType name="Actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsignadaA" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreadaPor" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prioridad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proceso" nillable="true" type="tns:Proceso" />
      <xs:element minOccurs="0" name="RelacionadaCon" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="Usuario1" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actividad" nillable="true" type="tns:Actividad" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actividad" nillable="true" type="tns:ArrayOfActividad" />
      <xs:element minOccurs="0" name="Actividad1" nillable="true" type="tns:ArrayOfActividad" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>