TransportadoraMVC/TransportadoraMVC/Connected Services/ReferenceProceso/ServiceProceso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProceso" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50703/ServiceProceso.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceProceso.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50703/ServiceProceso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranspService.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProceso_ListarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_ListarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_AgregarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_AgregarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_EditarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_EditarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_EliminarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_EliminarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_BuscarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProceso" />
  </wsdl:message>
  <wsdl:message name="IServiceProceso_BuscarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProcesoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProceso">
    <wsdl:operation name="ListarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProceso/ListarProceso" message="tns:IServiceProceso_ListarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProceso/ListarProcesoResponse" message="tns:IServiceProceso_ListarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProceso/AgregarProceso" message="tns:IServiceProceso_AgregarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProceso/AgregarProcesoResponse" message="tns:IServiceProceso_AgregarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProceso/EditarProceso" message="tns:IServiceProceso_EditarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProceso/EditarProcesoResponse" message="tns:IServiceProceso_EditarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProceso/EliminarProceso" message="tns:IServiceProceso_EliminarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProceso/EliminarProcesoResponse" message="tns:IServiceProceso_EliminarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProceso/BuscarProceso" message="tns:IServiceProceso_BuscarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProceso/BuscarProcesoResponse" message="tns:IServiceProceso_BuscarProceso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProceso" type="tns:IServiceProceso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProceso">
      <soap:operation soapAction="http://tempuri.org/IServiceProceso/ListarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProceso">
      <soap:operation soapAction="http://tempuri.org/IServiceProceso/AgregarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarProceso">
      <soap:operation soapAction="http://tempuri.org/IServiceProceso/EditarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProceso">
      <soap:operation soapAction="http://tempuri.org/IServiceProceso/EliminarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProceso">
      <soap:operation soapAction="http://tempuri.org/IServiceProceso/BuscarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProceso">
    <wsdl:port name="BasicHttpBinding_IServiceProceso" binding="tns:BasicHttpBinding_IServiceProceso">
      <soap:address location="http://localhost:50703/ServiceProceso.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>